@page "/leavetypes/edit/{id:int}"
@attribute [Authorize(Roles ="Administrator")]

<h3>Edit leave Type</h3>

@if (string.IsNullOrEmpty(Message) == false)
{
    <div class="alert alert-danger">
        @Message
    </div>
}

<FormComponent ButtonText="Update" FormLeavesTypes="LeavesTypesVM" OnValidSubmit="@EditLeaveType"/>


